nav{
    font-size: 1.5em;
}

.page{
    padding: 2em;
}

h1, h2, h3{
    font-weight: bold;
    text-transform: capitalize;
}

h1{
    text-align: center;
    margin: 1em !important;
}

h2{
    margin-top: 1.5em !important;
    margin-left: 1.5em !important;
}

h3{
    margin-top: 1em !important;
}

.file{
    margin-top: 1em;
    padding: 2em 0;
}
